<table class="table table-hover">
  <thead class="table-info">
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Credit card</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each_with_index do |contact, index| %>
      <tr>
        <td class="<%= contacts_error_color(contact, 'name') %>">
          <%= contact.name %>
          <br><small><%= error_value(contact, 'name') %></small>
        </td>
        <td class="<%= contacts_error_color(contact, 'birthdate') %>">
          <%= contact.birthdate ? formated_date(contact.birthdate) : '' %>
          <br><small><%= error_value(contact, 'birthdate') %></small>
        </td>
        <td class="<%= contacts_error_color(contact, 'phone' ) %>">
          <%= contact.phone %>
          <br><small><%= error_value(contact, 'phone') %></small>
        </td>
        <td class="<%= contacts_error_color(contact, 'address') %>">
          <%= contact.address %>
          <br><small><%= error_value(contact, 'address') %></small>
        </td>
        <td class="<%= contacts_error_color(contact, 'credit_card') %>">
          <%= contact.import_errors['credit_card'].present? ? contact.credit_card : retrieve_card(contact.credit_card) %>
          <br><small><%= error_credit_card_value(contact) %></small>
        </td>
        <td class="<%= contacts_error_color(contact, 'email') %>">
          <%= contact.email %>
          <br><small><%= error_value(contact, 'email') %></small>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
